{% load static %}
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Google Maps - pygmaps </title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
          <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/project.css' %}">
</head>

<body>
  <div class="content" style="height:36rem">
    <div class="card" style="width: 20rem;">

      <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

            <a href="{% url 'mappoint' %}"><i style="margin-right: 10px;" class="fa fa-home" aria-hidden="true"></i>Home</a>
                                 <a href="{% url 'dashboard' %}"><i style="margin-right: 10px;" class="fa fa-angle-double-right" aria-hidden="true"></i>Dashboard</a>

          <a href="{% url 'businesslist' %}"><i style="margin-right: 10px;" class="fa fa-angle-double-right" aria-hidden="true"></i>Find Business</a>
            <a href="{% url 'productlist' %}"><i style="margin-right: 10px;" class="fa fa-angle-double-right" aria-hidden="true"></i>Find Products</a>
            <a href="{% url 'updateinfo' %}"><i style="margin-right: 10px;" class="fa fa-angle-double-right" aria-hidden="true"></i>Add Business</a>

            <a href="{% url 'addproduct' %}"><i style="margin-right: 10px;" class="fa fa-angle-double-right" aria-hidden="true"></i>Add Product</a>
            <a href="{% url 'logout' %}"><i style="margin-right: 10px;" class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
        </div>
<!--      <div id="main">-->
<!--        <button class="openbtn" onclick="openNav()">☰</button>-->
<!--      </div>-->

  <div class="input-group mb-3 white-nav">
      <div class="input-group-prepend">
        <span class="input-group-text custom-input-group-text" onclick="openNav()" id="basic-addon1">☰</span>
      </div>
      <input type="text" class="form-control custom-form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
    </div>


      <!-- Search form -->
<!--      <form name="keymap" method="POST" action="{% url 'keymap' %}">-->
<!--        {% csrf_token %}-->
<!--        <div class="input-group md-form form-sm form-2 pl-0">-->
<!--          <input name="search" class="form-control my-0 py-1 red-border" type="text" placeholder="Search"-->
<!--            aria-label="Search" />-->
<!--          <div class="input-group-append">-->
<!--            <input type="hidden" name="supporttype" />-->
<!--            <input class="input-group-text red lighten-3" id="basic-text1" type="submit" value="Search" />-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
      <div class="card-body " style="padding:0px; margin-bottom:25px;">
        <div style="width: 100%;"></div>
        <div class="card-body " style="text-align:center; padding:0px; margin-top: -15px; margin-bottom:0px;">
          <div style="width: 100%; margin: 15px 0 5px;"></div>

      </div>
      </div>
      <div class="relative" style="max-height:30rem; overflow-y: scroll; overflow-x: hidden">

        {% for key, value in data.items %}

          <div class="card card_list" style="margin-bottom: 1px">
          <a href="{% url 'productdetails' key=key %}" style="text-decoration: none;">
              <div class="row">
            <div class="col-4">
              <img src="data:image/png;base64, {{value.product_image}}" style="width: 80px; height: 80px; border-radius: 10px" >
            </div>
            <div class="col-8" style="margin-left: -15px;">
              <div class="card-block" style="margin-top: 5px">
                <h6 style="margin:0; color:#4d4d4d; font-weight: bold; font-size: 15px;" class="card-title">{{value.product_name}}</h6>
                <p style="font-size:11px;margin:0; color:#5b5252;" class="card-text">{{value.product_description}}</p>
                  <p style="margin:0; color:#F7797A; font-size:15px" class="card-text">${{value.product_price}}</p>
              </div>
            </div>
          </div>
          </a>
        </div>
          {% endfor %}

        <div  class="btn-group capsule-button" role="group" aria-label="Basic example">
                <a href="{% url 'mappoint' %}" style="line-height: 0.5; padding:10px 25px; border-radius: 25px 0px 0px 25px; box-shadow: 0px 0px 4px 1px #aaa;"
                    type="button" class="btn btn-sm ">
                    <span style="color:black; text-decoration: None;">Map</span>
                </a>
                <a style="color: white; line-height: 0.5;padding:10px 25px;border-radius: 0px 25px 25px 0px; box-shadow: 0px 0px 4px 1px #aaa;"
                    type="button" class="btn btn-primary btn-sm">List</a>
            </div>
        <div style="top:95%"><a class="find_busniess" style="text-decoration: none;color:#4d4d4d" href="{% url 'businesslist' %}">Find Business</a></div>
      </div>
    </div>
  </div>
  </div>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    console.log()
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }

  </script>
</body>

</html>