{% load static %}
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Google Maps - pygmaps </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/project.css' %}">

</head>

<body>
    <div class="content" style="color:black; height:37rem; width: 21rem;">

    <div class="card" >
        <span onclick="goBack()"><i style="padding: 5px 0px 0px 10px; font-size: 25px; font-weight: bold;" class="fa fa-angle-left" aria-hidden="true"></i></span>
        <article class="card-body" style=" ">
            <div class="relative" style="margin: 0px 0;">
                <span class="signup-span">your product information</span>
                <h2 style="font-weight:900;" class="card-title mb-4 mt-1">Add Product</h2>
            </div>
        </article>
    </div>
         <div style="margin: 0px -5px; background:#F2F2F2; max-height:28rem; overflow-y: scroll; overflow-x: hidden">
             <div class="row" style="margin-left:5px; margin-bottom: 20px;">
                 <div class="btn-group" role="group" aria-label="Basic example">
                  <a onclick="selected('1')" id="selected-1" style="margin-left: 10px;margin-right:0px" type="button" class="btn">Step 1<i style="margin-left: 20px;" class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                  <a onclick="selected('2')" id="selected-2" style="margin-left: 10px;border-radius: 5px;margin-right:0px" type="button" class="btn">Step 2<i style="margin-left: 20px;" class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                  <a onclick="selected('3')" style="border-bottom: 5px solid #166c4f;border-radius: 5px;margin-left: 10px;" type="button" class="btn">Step 3</a>
            </div>
             </div>
        <form style="padding: 1px 35px;" name="authcheck" method="POST" action="{% url 'addproductfirebase' %}" enctype='multipart/form-data'>
                {% csrf_token %}
            <div  class="form-group">
                    <h5 style="color:#136668">Product added successfully!</h5>
            </div>
<!--               <div style="display:None" id="step-2-info">-->
<!--                    <div  class="form-group">-->
<!--                    <input name="name" class="form-control sign-input" placeholder="Product name" type="text">-->
<!--                </div>-->
<!--                <div  class="form-group">-->
<!--                    <input name="price" class="form-control sign-input" placeholder="Product Price" type="text">-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <textarea style="border-radius: 10px;border: 1px solid #dbd9d9;padding: 15px;" id="w3review" name="description" placeholder="Product Description"-->
<!--                               rows=5 id="description"></textarea>-->
<!--                </div>-->
<!--               </div>-->

<!--                <div class="upload-btn-wrapper" style="margin-left: 30px;" id="step-1-info">-->
<!--&lt;!&ndash;                  <button class="btn-upload">Product Image</button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <input type="file" id="image" name="image" />&ndash;&gt;-->
<!--                    <input id="image" name="image" type='file' onchange="readURL(this);" />-->
<!--                    <img id="blah" width="200px" height="200px" src="{% static 'images/upload.png' %}" alt="your image" />-->
<!--                </div>-->

<!--                <div class="form-group" style="text-align:center; margin-top: 15px;" id="step-1-next">-->
<!--                    <a onclick="selected('10')" style="color: white;padding: 10px 80px;border-radius: 11px;"  class="btn btn-block btn-dark"> Next </a>-->
<!--                </div>-->
<!--                <div class="form-group" style="display:None; text-align:center; margin-top: 15px;" id="step-2-next">-->
<!--                    <button onclick="selected('11')" style="color: white;padding: 10px 80px;border-radius: 11px;"  class="btn btn-block btn-dark"> Submit </button>-->
<!--                </div>-->

                <p style="text-align:center; color:red;">
                    {% if message %}
                    {{ message }}
                    {% endif %}
                </p>
            </form>
         </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script>
         function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

    function goBack() {
  window.history.back();
}
function selected(val) {
  if (val == '10') {
    console.log(val);
    document.getElementById("step-1-info").style.display = "none";
    document.getElementById("step-1-next").style.display = "none";
    document.getElementById("selected-1").style.borderBottom = "0px solid #166c4f";
    document.getElementById("selected-2").style.borderBottom = "5px solid #166c4f";
    document.getElementById("step-2-info").style.display = "block";
    document.getElementById("step-2-next").style.display = "block";
  }
  else if (val == '1') {
    console.log(val);
    document.getElementById("step-1-info").style.display = "block";
    document.getElementById("step-1-next").style.display = "block";
    document.getElementById("selected-1").style.borderBottom = "5px solid #166c4f";
    document.getElementById("selected-2").style.borderBottom = "0px solid #166c4f";
    document.getElementById("step-2-info").style.display = "none";
    document.getElementById("step-2-next").style.display = "none";
  }
  else if (val == '2') {
    console.log(val);
    document.getElementById("step-1-info").style.display = "none";
    document.getElementById("step-1-next").style.display = "none";
    document.getElementById("selected-1").style.borderBottom = "0px solid #166c4f";
    document.getElementById("selected-2").style.borderBottom = "5px solid #166c4f";
    document.getElementById("step-2-info").style.display = "block";
    document.getElementById("step-2-next").style.display = "block";
  }
}

          function displayStore () {
          var checkbox = document.getElementById("check").checked;
          console.log(checkbox);
          if (checkbox) {
          document.getElementById("store_div").style.display = "inline";
          }
          else {
          document.getElementById("store_div").style.display = "None";
          }
          }

    </script>
</body>

</html>