
input{

}
.card-body{
margin-top: 5px;
}
textarea:focus, input:focus{

}
*:focus {

}
.form-control:focus {

  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

.capsule-button{
position: fixed;
left: 50%;
top: 13%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
padding: 0px;
background: white;
box-shadow: 10px 10px 9px -3px rgba(0, 0, 0, 0.49);
border-radius: 15px;
}
.business-card{
border-bottom: 1px solid #8484848a;
margin-bottom: 1px;
padding: 10px 5px 10px 20px;
margin: 0px;
background: white;
border-radius: 15px;
box-shadow: 10px 10px 9px -3px white;
margin: 5px 10px;
border: 2px solid whitesmoke;
}
.signup{
margin-left: 40%;
width: 21%;
border-bottom: 2px solid black;
color:black;
}

.login{
width: 15%;
border-bottom: 2px solid black;
}
.sign-input{
border: 0;
border-radius: 0px;
padding: 0px;
border-bottom: 1px solid #828282;
background: transparent;
}
.signup-span{
position: absolute;
top: 40px;
font-size: 16px;
left: 3px;
line-height: 15px;

}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-upload {
  border: 1px solid #dfdddd;
color: gray;
background-color: white;
padding: 5px 65px 5px 65px;
border-radius: 8px;
font-size: 17px;
font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.example1 {
margin:2px;
  padding: 7px;
  -webkit-box-shadow: 0px 3px 5px -2px #aaa;
-moz-box-shadow: 0px 0px 4px 1px #aaa;
box-shadow: 0px 0px 4px 1px #aaa;
  border-radius: 10px;
  margin-bottom:20px;
}


.card_list_business{
border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.product_title{
margin:0;
padding:0;
padding-bottom: 10px;
border-bottom: 1px solid #8484848a;
}
.back_button{
position: absolute;
left: 5%;
top: 15%;
-webkit-transform: translate(-50%, -50%);
}
.product_img{

text-align: center;
border-radius: 25px;
}
.store{
padding-top: 10px;
color: black;
font-size: 15px;
margin-bottom:0;
}
.store_details{
margin:0;
padding:0;
padding-bottom: 7px;

}
.white-nav {
overflow: hidden;
background-color: #FFF;
box-shadow: 4px 4px 16px -6px #aaa;
border-radius: 13px;
margin-top: 5px;
}
.custom-form-control {
border: none !important;
}
.custom-input-group-text{
background-color: #fff !important;
border: None !important;
cursor: pointer;
}

.content {
position: fixed;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.49);
border-radius: 10px;
padding: 5px;
}
div.relative {
position: relative;
width: auto;
height: auto;

}
.card {
background-color: white;
border: None;
border-radius: 0rem;
}
#result {
margin: 10px 20px 10px 20px;
padding: 5px;
background: white;
box-shadow: 5px 4px 7px -3px rgba(0, 0, 0, 0.49);
}
.find_busniess {
text-decoration: none;
color:#4d4d4d;
 position: fixed;
top: 50%;
left: %;
left: 50%;
top: 90%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
padding: 1px 20px;
background: white;
box-shadow: 10px 5px 9px -3px rgba(0, 0, 0, 0.49);
border-radius: 10px;
}
div.absolute {
position: absolute;
top: 10px;
right: 52px;
width: 225px;
height: 40px;
color: white;
text-align: center;
}

.sidebar {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #555555;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}
.sidebar a:hover{
color: red;
}
.sidebar a {
padding: 5px 5px 5px 20px;
text-decoration: none;
font-size: 18px;
color: whitesmoke;
display: block;
transition: 0.3s;
font-weight: bold;
}

.sidebar a:hover {
color: #f1f1f1;
}

.sidebar .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.openbtn {
font-size: 20px;
cursor: pointer;
background-color: #111;
color: white;
border: none;
}

.openbtn:hover {
background-color: #444;
}

#main {
padding: 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font
size) */
@media screen and (max-height: 450px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 18px;}
}

.card_list {
margin-bottom: 1px;
padding: 10px 0px 5px 10px;
margin: 0px;
background: white;
}

html {
overflow: scroll;
overflow-x: hidden;
}
::-webkit-scrollbar {
width: 0px; /* remove scrollbar space /
background: transparent; / optional: just make scrollbar invisible /
}
/ optional: show position indicator in red */
::-webkit-scrollbar-thumb {
background: #FF0000;
}




.find_busniess {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}




